.mat-expansion-panel-header.expanded {
    background-color: #72c90c33 !important; /* Change this to the desired color */
  }

  .mat-expansion-panel:not(:last-of-type) {
    border-bottom: none;
  }
  
  .mat-expansion-panel {
    box-shadow: none !important;
    border: 0.5px solid #0000001f;
  }

  .sub-category-link{
    padding:5px;
    cursor: pointer;
  }

  .sub-category-link:hover{
    color:#9add2c
  }
  .sub-category-link.active {
    color: #9add2c;
    border-bottom: 1px dashed #9add2c;
  } 


  .product.fixed {
    position: fixed;
    top: 95px; /* Adjust as needed */
    width: 23.45%;
   
  }

  .panel-header{
    height: 65px;
  }

  @media (max-width:769px){
    .all-prod{
      display: none;
    }
  }
  
  @media only screen and (max-width: 769px) {
    .category-container{
    display: none;
    }
  }
  @media only screen and (min-width: 769px) {
    .category-dialog{
      display: none;
    }
  }


.category-image{
  border-radius: 100%;
}