<!-- Mobile Device -->
<!-- <div style="width: 80%; margin: auto">
  <div style="padding: 20px 0px">
    <h1 style="text-align: center; color: red; font-weight: bold">
      Exchange – Return - Cancellation Policy: Mugdha Silks
    </h1>
    <h2 style="font-weight: bold">
      Mugdha Silks Return and Cancellation Policy
    </h2>
    <p>
      At Mugdha Silks, we are committed to ensuring your complete satisfaction
      with your purchase.
    </p>
    <p>
      We understand that there may be occasions where you need to return or
      cancel an order & we have outlined our policies below to facilitate a
      smooth and hassle-free process.
    </p>

    <h2 style="font-weight: bold">Return Policy</h2>
    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">1. Eligibility for Return:</span>
        <ul>
          <li>
            Returns are allowed only if the product is damaged or defective.
          </li>
          <li>
            The return request must be raised within 2 days of receiving the
            product by contacting our customer care team.
            <span style="font-weight: bold">(Ph: +91 – 79937 10111)</span>
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">2. Condition for Return:</span>
        <ul>
          <li>
            Products must be returned within 7 working days from the date of
            delivery.
          </li>
          <li>
            The item must be in a saleable condition with all price tags, info
            tags, original folds, and packaging intact.
          </li>
          <li>The product should be undamaged and unused.</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">3. Return Process:</span>
        <ul>
          <li>
            To initiate a return, contact our customer care at
            <span style="font-weight: bold">
              Ph: +91 – 79937 10111 or email us at info@mugdha.co</span
            >
            within 2 days of receiving the product.
          </li>
          <li>
            Once the return request is accepted, courier the product to the
            following address within 7 working days:
          </li>
          <li>
            Ensure to mention your name, order number, and mobile number on the
            package.
          </li>
          <li>Include the original receipt or invoice with the product.</li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">4. Tailored Products:</span>
        <ul>
          <li>
            Products that have availed tailoring services are not eligible for
            return, exchange or cancellation.
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">5. Damages Due to Improper Care:</span>
        <ul>
          <li>
            Returns for damages caused by improper product care or usage will
            not be accepted.
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">6. Quality Check:</span>
        <ul>
          <li>
            Returned products will be inspected by our quality check team. Only
            after verification will a credit note or exchange be processed.
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">7. Courier Charges:</span>
        <ul>
          <li>
            Customers must bear the cost of returning the product. If the return
            is due to an error on our part, we will reimburse the courier
            charges via a credit note or voucher.
          </li>
        </ul>
      </li>
    </ul>

    <ul>
      <li style="list-style: none">
        <span style="font-weight: bold">8. Defective or Faulty Product:</span>
        <ul>
          <li>
            If you receive a product with packaging that appears tampered,
            damaged, or unsealed, do not accept it. Contact us immediately at
            <span style="font-weight: bold"
              >info@mugdha.co or Ph: +91 – 79937 10111.</span
            >
          </li>
          <li>
            After inspection, if we confirm the product was not damaged due to
            customer actions, we will issue a credit note or replace the
            product.
          </li>
        </ul>
      </li>
    </ul>

    <h2 style="font-weight: bold">Cancellation Policy</h2>
    <ul>
      <li style="list-style: none; font-weight: bold">
        1. Order Cancellation:
      </li>
      <ul>
        <li>
          Orders cannot be cancelled once processed or approved by Mugdha Silks.
        </li>
        <li>
          To cancel an order before it is processed, email us at
          <span style="font-weight: bold">info@mugdha.co</span> with
          <span style="font-weight: bold">"CANCEL"</span> and the order number
          in the subject line.
        </li>
      </ul>
    </ul>

    <ul>
      <li style="list-style: none; font-weight: bold">2. Refunds</li>
      <ul>
        <li>
          Refunds are processed in the form of a credit note or an offer of
          exchange.
        </li>
        <li>
          We aim to complete the refund process within 7 working days of
          receiving the returned product.
        </li>
        <li>
          For further inquiries, contact us at
          <span style="font-weight: bold">info@mugdha.co</span>
        </li>
      </ul>
    </ul>

    <h2 style="font-weight: bold">Additional Information</h2>
    <ul>
      <li style="list-style: none; font-weight: bold">
        1. Product Specifications and Descriptions:
      </li>
      <ul>
        <li>
          The details of products (weight, colour, handwork, size) are
          approximate values.
        </li>
        <li>
          Requests for return based on these attributes will not be entertained.
        </li>
      </ul>
    </ul>

    <ul>
      <li style="list-style: none; font-weight: bold">2. Color Variations:</li>
      <ul>
        <li>
          Minor colour variations may occur due to different screen resolutions,
          monitors, and lighting conditions. A 10% variation in shade is
          considered normal.
        </li>
      </ul>
    </ul>

    <ul>
      <li style="list-style: none; font-weight: bold">
        3. Embroidery and Sequins:
      </li>
      <ul>
        <li>
          Items with beaded embroidery and sequins may experience some
          embellishments coming off, which is considered normal with wear and
          handling.
        </li>
      </ul>
    </ul>

    <ul>
      <li style="list-style: none; font-weight: bold">
        4. Dispute Resolution:
      </li>
      <ul>
        <li>
          For any disputes regarding cancellations, refunds, or returns, contact
          <span style="font-weight: bold">us at info@mugdha.co</span>
        </li>
        <li>
          Disputes are subject to Hyderabad jurisdiction under Indian IT ACT
          2002.
        </li>
      </ul>
    </ul>

    <ul>
      <li style="list-style: none; font-weight: bold">5. Customer Queries:</li>
      <ul>
        <li>For any questions regarding this policy,</li>
        <li>
          write to us at
          <span style="font-weight: bold"
            >info@mugdha.co or call Ph: +91 – 79937 10111</span
          >
        </li>
      </ul>
    </ul>

    <p>
      We value your satisfaction and strive to provide the best customer
      service.
    </p>
    <p>Thank you for choosing Mugdha Silks for your premium clothing needs.</p>
  </div>
</div> -->
<app-header></app-header>
<!-- Website -->
<div class="container py-5">
  <div>
    <h1 class="fw-bold text-center" style="color: red;">
      Exchange - Return - Cancellation Policy: Mugdha Silks
    </h1>

    <h2 class="fw-bold">
      Mugdha Silks Return and Cancellation Policy
    </h2>
    <p>
      At Mugdha Silks, we are committed to ensuring your complete satisfaction with your purchase.

      We understand that there may be occasions where you need to return or cancel an order & we have outlined our
      policies below to facilitate a smooth and hassle-free process.
    </p>

    <h2 class="fw-bold">
      Return Policy
    </h2>
    <p>
    <ul style="list-style-type: none;">
      <li>
        1. Eligibility for Return:
        Returns are allowed only if the product is damaged or defective.
        The return request must be raised within 2 days of receiving the product by contacting our customer care team.
        (Ph: +91 - 79937 10111)
      </li>
      <li>
        2. Condition for Return:
        Products must be returned within 7 working days from the date of delivery.
        The item must be in a saleable condition with all price tags, info tags, original folds, and packaging intact.
        The product should be undamaged and unused.
      </li>
      <li>
        3. Return Process:
        To initiate a return, contact our customer care at Ph: +91 - 79937 10111 or email us at info@mugdha.co within 2
        days of receiving the product.

        Once the return request is accepted, courier the product to the following address within 7 working days:
        Ensure to mention your name, order number, and mobile number on the package.
        Include the original receipt or invoice with the product.
      </li>
      <li>
        4. Tailored Products:
        Products that have availed tailoring services are not eligible for return, exchange or cancellation.
      </li>
      <li>
        5. Damages Due to Improper Care:
        Returns for damages caused by improper product care or usage will not be accepted.
      </li>
      <li>
        6. Quality Check:
        Returned products will be inspected by our quality check team. Only after verification will a credit note or
        exchange be processed.
      </li>
      <li>
        7. Courier Charges:
        Customers must bear the cost of returning the product. If the return is due to an error on our part, we will
        reimburse the courier charges via a credit note or voucher.
      </li>
      <li>
        8. Defective or Faulty Product:
        If you receive a product with packaging that appears tampered, damaged, or unsealed, do not accept it. Contact
        us immediately at info@mugdha.co or Ph: +91 - 79937 10111.
        After inspection, if we confirm the product was not damaged due to customer actions, we will issue a credit note
        or replace the product.
      </li>

    </ul>










    <h2 class="fw-bold">Cancellation Policy</h2>
    <p>
    <ul style="list-style-type: none;">
      <li>
        1. Order Cancellation:
        Orders cannot be cancelled once processed or approved by Mugdha Silks.
        To cancel an order before it is processed, email us at info@mugdha.co with "CANCEL" and the order number in the
        subject line.
      </li>
      <li>
        2. Refunds
        Refunds are processed in the form of a credit note or an offer of exchange.
        We aim to complete the refund process within 7 working days of receiving the returned product.
        For further inquiries, contact us at info@mugdha.co
      </li>
    </ul>


    <h2 class="fw-bold">Additional Information</h2>
    <p>
    <ul style="list-style-type: none;">
      <li>
        1. Product Specifications and Descriptions:
        The details of products (weight, colour, handwork, size) are approximate values.
        Requests for return based on these attributes will not be entertained.
      </li>
      <li>
        2. Color Variations:
        Minor colour variations may occur due to different screen resolutions, monitors, and lighting conditions. A 10%
        variation in shade is considered normal.
      </li>
      <li>
        3. Embroidery and Sequins:
        Items with beaded embroidery and sequins may experience some embellishments coming off, which is considered
        normal with wear and handling.
      </li>
      <li>
        4. Dispute Resolution:
        For any disputes regarding cancellations, refunds, or returns, contact us at info@mugdha.co
        Disputes are subject to Hyderabad jurisdiction under Indian IT ACT 2002.
      </li>
      <li>
        5. Customer Queries:
        For any questions regarding this policy,
        write to us at info@mugdha.co or call Ph: +91 - 79937 10111
      </li>

    </ul>





    <p>
      We value your satisfaction and strive to provide the best customer service.
      <br>
      Thank you for choosing Mugdha Silks for your premium clothing needs.
    </p>
  </div>
</div>
<app-overlay></app-overlay>
<app-footer></app-footer>