<app-header></app-header>
<div class="container-fluid">
  <h2 class="text-center py-4 my-3" style="background-color: #fafafa">
    Checkout
  </h2>
</div>
<div class="container" id="address-checkout">
  <div class="row">
    <h2 class="pt-3 ps-4 fw-bold" style="color: #a91be9">
      Select Delivery Address
    </h2>

    <div class="container" *ngIf="isShown">
      <div>
        <button
          mat-raised-button
          (click)="resetForm()"
          data-toggle="modal"
          data-target="#exampleModal2"
          style="background-color: #a91be9; color: #fff; margin-left: 10px"
        >
          + Add Address
        </button>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="container delivery-add w-100" *ngIf="!isShown">
            <div
              class="card address-add"
              style="
                width: 100%;
                cursor: pointer;
                display: inline-block;
                margin-right: 10px;
              "
            >
              <div
                class="card-body align-center"
                style="padding: 35px"
                data-toggle="modal"
                data-target="#exampleModal2"
              >
                <h4
                  class="add-address"
                  style="margin-bottom: 0px; color: #a91be9"
                >
                  + Add New Address
                </h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div *ngIf="isShown">
            <div
              class="card address-card"
              [ngClass]="{ 'selected-address': i === selectedAddressIndex }"
              *ngFor="let address of address; let i = index"
            >
              <div
                class="card-body"
                style="padding: 20px; padding-bottom: 10px"
                (click)="
                  selectDeliveryAddress(address?.uuid, i); disableAddress(i)
                "
              >
                <span
                  class="pb-2"
                  style="
                    float: right;

                    color: #a91be9;
                    margin-top: 2px;
                  "
                  *ngIf="address?.isdefault == 1"
                  >Default</span
                >
                <div class="row">
                  <h5
                    class="col-6 pb-2 fw-bold"
                    style="margin-bottom: 0px; color: #a91be9"
                  >
                    {{ address.type }}
                  </h5>
                  <span class="col-6 text-end fs-5"
                    ><i
                      class="fa-solid fa-pen-to-square"
                      style="color: #a91be9"
                      (click)="editAddress(address.uuid)"
                      data-toggle="modal"
                      data-target="#exampleModal2"
                    ></i
                  ></span>
                </div>

                <p class="add-address">
                  <b> {{ address?.name }}</b>
                  <!-- {{ address?.address }}, {{ address?.city }},
              {{ address?.state }} -{{ address.zipcode }} -->
                </p>
                <p class="add-address">{{ address.address }}</p>
                <p class="add-address">
                  {{ address.city }},{{ address.state }}
                </p>
                <p class="add-address">{{ address.zipcode }}</p>
                <p class="add-address">
                  Mobile <span class="text-dark">{{ address.mobile }}</span>
                </p>
                <p class="add-address">
                  Email : <span class="text-dark">{{ address.email }}</span>
                </p>
              </div>

              <!-- <button
                class="btn deliver-button"
                
              >
                Deliver here
              </button> -->
              <p *ngIf="delivernote" class="text-white text-center fs-5">
                Product will deliver to this address
              </p>
            </div>
            <div class="m-3">
              <input
                type="checkbox"
                id="billingAddressCheckbox"
                name="billingAddress"
              />
              &nbsp;
              <label for="billingAddressCheckbox"
                >Same as Billing Address</label
              >
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-backdrop="static"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Add Your Delivery Address
              </h5>
            </div>
            <div class="modal-body">
              <form [formGroup]="profileForm" (ngSubmit)="formSubmit()">
                <div class="container">
                  <div class="row">
                    <!-- Name -->
                    <div class="col-md-6">
                      <label for="name" class="required">Name: </label>

                      <input
                        class="form-control"
                        id="name"
                        type="text"
                        formControlName="name"
                        (keypress)="onKeyPress($event)"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['name'].errors) ||
                            (formControl['name'].invalid &&
                              (formControl['name'].dirty ||
                                formControl['name'].touched))
                        }"
                      />
                      <div
                        *ngIf="
                          (isSubmit && formControl['name']?.errors) ||
                          (formControl['name']?.invalid &&
                            (formControl['name']?.dirty ||
                              formControl['name']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span *ngIf="formControl['name'].errors?.['required']"
                          >Name is Required</span
                        >
                        <span *ngIf="formControl['name'].errors?.['minlength']"
                          >Minimum Length 3 Characters.</span
                        >
                        <span *ngIf="formControl['name'].errors?.['pattern']"
                          >Enter Alphabit Only</span
                        >
                      </div>
                    </div>
                    <!-- Email -->
                    <div class="col-md-6">
                      <label for="email" class="required">E-mail ID: </label>

                      <input
                        class="form-control"
                        id="email"
                        type="email"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['email'].errors) ||
                            (formControl['email'].invalid &&
                              (formControl['email'].dirty ||
                                formControl['email'].touched))
                        }"
                      />

                      <div
                        *ngIf="
                          (isSubmit && formControl['email']?.errors) ||
                          (formControl['email']?.invalid &&
                            (formControl['email']?.dirty ||
                              formControl['email']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span *ngIf="formControl['email'].errors?.['required']"
                          >Email is Required</span
                        >
                        <span *ngIf="formControl['email'].errors?.['minlength']"
                          >Give Valid Email Id</span
                        >
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <br />
                  <!-- <div class="container"> -->
                  <div class="row">
                    <!-- Mobile -->
                    <div class="col-md-6">
                      <label for="mobile" class="required"
                        >Mobile Number:
                      </label>

                      <input
                        class="form-control"
                        id="mobile"
                        type="text"
                        minlength="7"
                        maxlength="15"
                        (input)="mobileNumberValidator($event)"
                        formControlName="mobile"
                        (keypress)="validateNumber($event)"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['mobile'].errors) ||
                            (formControl['mobile'].invalid &&
                              (formControl['mobile'].dirty ||
                                formControl['mobile'].touched))
                        }"
                      />

                      <div
                        *ngIf="
                          (isSubmit && formControl['mobile']?.errors) ||
                          (formControl['mobile']?.invalid &&
                            (formControl['mobile']?.dirty ||
                              formControl['mobile']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span *ngIf="formControl['mobile'].errors?.['required']"
                          >Mobile Number is required</span
                        >
                        <span
                          *ngIf="formControl['mobile'].errors?.['minlength']"
                          >Minimum Length 7 Digits</span
                        >
                        <span
                          *ngIf="formControl['mobile'].errors?.['maxlength']"
                          >Maximum Length 15 Digits</span
                        >
                        <span *ngIf="formControl['mobile'].errors?.['pattern']"
                          >Only numeric values are allowed</span
                        >
                      </div>
                    </div>
                    <!-- Zipcode -->
                    <div class="col-md-6">
                      <label for="zipcode" class="required">Zip Code: </label>

                      <input
                        class="form-control"
                        id="zipcode"
                        type="text"
                        (input)="limitInputLength($event, 6)"
                        formControlName="zipcode"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['zipcode'].errors) ||
                            (formControl['zipcode'].invalid &&
                              (formControl['zipcode'].dirty ||
                                formControl['zipcode'].touched))
                        }"
                        (keypress)="validateNumber($event)"
                        (keyup)="postelcode($event)"
                      />

                      <div
                        *ngIf="
                          (isSubmit && formControl['zipcode']?.errors) ||
                          (formControl['zipcode']?.invalid &&
                            (formControl['zipcode']?.dirty ||
                              formControl['zipcode']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span
                          *ngIf="formControl['zipcode'].errors?.['required']"
                          >Zip Code is required</span
                        >
                        <span
                          *ngIf="formControl['zipcode'].errors?.['minlength']"
                          >Zip Code must be exactly 6 digits</span
                        >
                        <span
                          *ngIf="formControl['zipcode'].errors?.['maxlength']"
                          >Zip Code must be exactly 6 digits</span
                        >
                        <span *ngIf="formControl['zipcode'].errors?.['pattern']"
                          >Only numeric values are allowed</span
                        >
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <br />
                  <div
                    *ngIf="!isNotAvail"
                    style="color: red"
                    class="text-center"
                  >
                    Currently Not Deliver to this Area
                  </div>

                  <!-- <div class="container"> -->
                  <div class="row">
                    <!-- City -->
                    <div class="col-md-6">
                      <label for="city" class="required">City: </label>

                      <input
                        class="form-control"
                        id="city"
                        type="text"
                        formControlName="city"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['city'].errors) ||
                            (formControl['city'].invalid &&
                              (formControl['city'].dirty ||
                                formControl['city'].touched))
                        }"
                        readonly
                      />

                      <div
                        *ngIf="
                          (isSubmit && formControl['city']?.errors) ||
                          (formControl['city']?.invalid &&
                            (formControl['city']?.dirty ||
                              formControl['city']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span *ngIf="formControl['city'].errors?.['required']"
                          >City is Required</span
                        >
                      </div>
                    </div>
                    <!-- State -->
                    <div class="col-md-6">
                      <label for="state" class="required">State: </label>

                      <input
                        class="form-control"
                        id="state"
                        type="text"
                        formControlName="state"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['state'].errors) ||
                            (formControl['state'].invalid &&
                              (formControl['state'].dirty ||
                                formControl['state'].touched))
                        }"
                        readonly
                      />

                      <div
                        *ngIf="
                          (isSubmit && formControl['state']?.errors) ||
                          (formControl['state']?.invalid &&
                            (formControl['state']?.dirty ||
                              formControl['state']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span *ngIf="formControl['state'].errors?.['required']"
                          >State is Required</span
                        >
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                  <br />
                  <!-- <div class="container"> -->
                  <div class="row">
                    <!-- Address -->
                    <div class="col-sm-12">
                      <label for="address" class="required">Address: </label>
                      <textarea
                        class="form-control"
                        id="address"
                        type="text"
                        formControlName="address"
                        [ngClass]="{
                          'is-invalid':
                            (isSubmit && formControl['address'].errors) ||
                            (formControl['address'].invalid &&
                              (formControl['address'].dirty ||
                                formControl['address'].touched))
                        }"
                      ></textarea>

                      <div
                        *ngIf="
                          (isSubmit && formControl['address']?.errors) ||
                          (formControl['address']?.invalid &&
                            (formControl['address']?.dirty ||
                              formControl['address']?.touched))
                        "
                        class="invalid-feedback"
                      >
                        <span
                          *ngIf="formControl['address'].errors?.['required']"
                          >Address is Required</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <!-- <div class="form-group">
                  <label class="form-label">Select Address Type</label>
                  <div class="form-check" *ngFor="let option of options">
                    <input
                      class="form-check-input"
                      type="radio"
                      [value]="option.value"
                      formControlName="type"
                      [id]="option.value"
                    />
                    <label class="form-check-label" [for]="option.value">
                      {{ option.label }}
                    </label>
                  </div>
                </div> -->
                <mat-radio-group formControlName="type" class="required">
                  <mat-radio-button
                    *ngFor="let option of options"
                    [value]="option.value"
                    >{{ option.label }}</mat-radio-button
                  >
                </mat-radio-group>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    id="closeModalBtn"
                    (click)="resetMyForm()"
                  >
                    Close
                  </button>
                  <button
                    mat-raised-button
                    matStepperNext
                    style="background-color: #a91be9; color: #fff"
                    type="submit"
                  >
                    Save Address
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 order-detail">
      <h2 class="text-center">Order Details</h2>
      <div style="height: 400px; overflow: overlay">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-heading">Image</th>
              <th scope="col" class="table-heading">Name</th>
              <th scope="col" class="table-heading">Qty</th>
              <th scope="col" class="table-heading">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderItems">
              <td>
                <img
                  [src]="item.path"
                  alt="Product Image"
                  class="img-fluid product-img"
                />
              </td>
              <td>{{ item.name }}</td>
              <td class="text-center">
                {{ item.qty }}
              </td>

              <td>
                <i
                  class="fa-solid fa-indian-rupee-sign"
                  style="font-size: 12px"
                ></i>
                {{ item.subtotal }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="checkoutdetails !== '0'">
        Delivery Charges :
        <i class="fa-solid fa-indian-rupee-sign" style="font-size: 12px"></i>
        {{ checkoutdetails }}.00
      </div>
      <div *ngIf="checkoutdetails == '0'" class="mt-6">
        Delivery Charges : Free Delivery
      </div>
      <br /><br />
      <div
        style="margin-right: 10px"
        class="row"
        *ngIf="checkout?.couponAvailable === '0'"
      >
        <div class="col fw-bold fs-6">Coupon value</div>
        <div class="col text-end fw-bold fs-6">
          <i class="fa-solid fa-indian-rupee-sign" style="font-size: 16px"></i>
          {{ getCoupon() }}
        </div>
        <!-- <p class="w-50">Total</p>
        <p class="w-50">50550</p> -->
        <!-- <b> Total: </b> <i class="fa-solid fa-indian-rupee-sign"></i>
        <b> {{ getTotalPrice() }} </b> -->
      </div>
      <br /><br />
      <div style="margin-right: 10px" class="row">
        <div class="col fw-bold fs-6">Total Amount</div>
        <div class="col text-end fw-bold fs-6">
          <i class="fa-solid fa-indian-rupee-sign" style="font-size: 16px"></i>
          {{ getTotalPrice() }}
        </div>
        <!-- <p class="w-50">Total</p>
        <p class="w-50">50550</p> -->
        <!-- <b> Total: </b> <i class="fa-solid fa-indian-rupee-sign"></i>
        <b> {{ getTotalPrice() }} </b> -->
      </div>
      <br />
      <div class="checkout-container">
        <!-- Other checkout details -->
        <!-- Coupon Section -->
        <!-- <div class="p-4 rounded-2" style="border: 1px solid #a91be9">
          <label
            for="couponCode"
            class="coupon-label mb-1"
            *ngIf="!couponApllied"
            >Have a coupon?</label
          >
          <div class="coupon-input-container">
            <input
              type="text"
              id="couponCode"
              [(ngModel)]="couponCode"
              (input)="convertToUpper()"
              placeholder="Enter coupon code"
              class="coupon-input form-control"
              [disabled]="couponApllied"
            />
            <button
              (click)="applyCoupon()"
              class="apply-coupon-button btn btn-sm"
              *ngIf="!couponApllied"
            >
              Apply
            </button>
          </div>

          <div
            class="couponMessage-section"
            *ngIf="checkout.couponAvailable == 0"
          >
            <span for="couponCode" class="coupon-message fw-bold"
              >{{ couponCode.toUpperCase() }} </span
            ><span for="couponCode" class="coupon-message">
              &nbsp; Applied Sucessfully</span
            >
          </div>
        </div> -->
        <!-- Order summary -->
        <div class="order-summary">
          <!-- Order details -->
        </div>
      </div>
      <div *ngIf="isAddressSelected">
        <!-- <mat-radio-group
          [(ngModel)]="selectedPaymentMethod"
          (change)="isOptionSelected = true"
        >
          <mat-radio-button *ngFor="let option of pay" [value]="option.value"
            >{{ option.label }}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="selectedPaymentMethod === 'cahondelivery'" style="padding: 10px;">
          Delivery Charges: Rs. 50
        </div> -->

        <button mat-raised-button class="place-order" (click)="payOnline()">
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row"></div>
</div>
<br /><br />
<app-overlay></app-overlay>
<app-footer></app-footer>
