

  <div *ngIf="loading" class="loader-overlay">
    
    <!-- <img src="../../../assets/image/logo-.jpg" style="height: 100px;width: 100px;"  alt="Spinner" class="spinner" /> -->

    <div class="wrapper one">
      <div class="drop-main">
          <div class="w">W</div>
          <div class="r">R</div>
          <div class="a">A</div>
          <div class="p">P</div>
          <div class="i">I</div>
          <div class="n">N</div>
          <div class="g">G</div>
         
      </div>
  </div>

  </div>