<app-header></app-header>
<ng-container *ngIf="listProduct && listProduct.length > 0; else noItems">
  <br /><br />
  <!-- filters mobile view start -->
  <div class="container">
    <div class="col-md-12 categories-mobile">
      <!-- <div class="d-flex justify-content-end filterBtnMobile">
        <button (click)="toggleFilters()" mat-raised-button style="background-color: #870a51; color: #ffffff">
          <img src="../../../assets/image/filter-icon.svg" class="img-fluid" width="20px" style="color: #ffffff"
            alt="" />
        </button>
      </div> -->
      <!-- Demo Accordian -->
      <div *ngIf="isFilterApplied()">
        <button
          class="btn btn-sm text-white mx-2 mb-4 clear-btn"
          (click)="clearFilter()"
        >
          Clear <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <!-- Demo Accordian -->
      <div *ngIf="showFilters" class="showFilters">
        <ngb-accordion
          #acc="ngbAccordion"
          id="filtersAccordion"
          [activeIds]="['ngb-panel-0']"
        >
          <!-- Sorting Options -->
          <!-- <ngb-panel title="Sorting Options">
            <ng-template ngbPanelContent>
              <div class="checkbox-container">
                <div class="sorting-options">
                  <select [(ngModel)]="defaultSortOption" (change)="onSortChange($event)" class="form-select">
                    <option value="priceLH">Price: Low to High ↑</option>
                    <option value="priceHL">Price: High to Low ↓</option>
                    <option value="new">New Arrivals 🌟</option>
                  </select>
                </div>
              </div>
            </ng-template>
          </ngb-panel> -->

          <!-- Variants Filters -->
          <ngb-panel *ngFor="let variant of variants" [title]="variant.name">
            <ng-template ngbPanelContent>
              <div class="checkbox-container">
                <div
                  *ngFor="let value of variant.productvariantvalues"
                  class="checkbox-item"
                >
                  <input
                    type="checkbox"
                    [id]="value.value"
                    [name]="value.value"
                    [value]="value.value"
                    class="custom-checkbox"
                    [(ngModel)]="value.selected"
                    (change)="updateSelectedValues()"
                  />
                  <label [for]="value.value" class="checkbox-label">{{
                    value.value
                  }}</label>
                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Parameter Filters -->
          <ngb-panel *ngFor="let variant of parameter" [title]="variant.name">
            <ng-template ngbPanelContent>
              <div class="checkbox-container">
                <div
                  *ngFor="let value of variant.parametervalues"
                  class="checkbox-item"
                >
                  <input
                    type="checkbox"
                    [id]="value.value"
                    [name]="value.value"
                    [value]="value.value"
                    class="custom-checkbox"
                    [(ngModel)]="value.selected"
                    (change)="updateSelectedValues()"
                  />
                  <label [for]="value.value" class="checkbox-label">{{
                    value.value
                  }}</label>
                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Price Filter -->
          <ngb-panel *ngIf="pricefilter?.length > 0" title="Price">
            <ng-template ngbPanelContent>
              <div
                *ngFor="let variant of pricefilter"
                class="checkbox-container mb-3"
              >
                <input
                  type="checkbox"
                  [id]="variant.price"
                  [name]="variant.price"
                  [value]="variant.price"
                  class="custom-checkbox"
                  [(ngModel)]="variant.selected"
                  (change)="updateSelectedValues()"
                />
                <label [for]="variant.price" class="checkbox-label">{{
                  variant.name
                }}</label>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Discount Filter -->
          <ngb-panel *ngIf="discount?.length > 0" title="Discount">
            <ng-template ngbPanelContent>
              <div
                *ngFor="let variant of discount"
                class="checkbox-container mb-3"
              >
                <input
                  type="checkbox"
                  [id]="variant.discount"
                  [name]="variant.discount"
                  [value]="variant.discount"
                  class="custom-checkbox"
                  [(ngModel)]="variant.selected"
                  (change)="updateSelectedValues()"
                />
                <label [for]="variant.discount" class="checkbox-label">{{
                  variant.name
                }}</label>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Brands Filter -->
          <!-- <ngb-panel *ngFor="let variant of brands" [title]="variant.name">
            <ng-template ngbPanelContent>
              <div class="checkbox-container">
                <input type="checkbox" [id]="variant.bid" [name]="variant.bid" [value]="variant.bid"
                  class="custom-checkbox" [(ngModel)]="variant.selected" (change)="updateSelectedValues()" />
                <label [for]="variant.bid" class="checkbox-label">{{
                  variant.name
                  }}</label>
              </div>
            </ng-template>
          </ngb-panel> -->
        </ngb-accordion>
      </div>

      <div *ngIf="showFilters" class="showFilters">
        <div class="accordion" id="filtersAccordion"></div>
      </div>
    </div>
  </div>

  <!-- filters mobile view end -->

  <div class="container-fluid prod-list-cont" style="width: 100%; margin: auto">
    <div class="row">
      <div class="col-md-2 categories">
        <div class="accordion" id="filtersAccordion">
          <div class="d-flex">
            <h3>Filters <i class="fa-solid fa-filter"></i></h3>
            <div *ngIf="isFilterApplied()">
              <button
                class="btn btn-sm text-white mx-2 clear-btn"
                (click)="clearFilter()"
              >
                Clear <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
          <!-- Demo Accordian -->
          <div class="showFilters">
            <ngb-accordion id="filtersAccordion" [activeIds]="['ngb-panel-0']">
              <!-- Sorting Options -->
              <!-- <ngb-panel title="Sorting Options">
                <ng-template ngbPanelContent>
                  <div class="checkbox-container">
                    <div class="sorting-options">
                      <select [(ngModel)]="defaultSortOption" (change)="onSortChange($event)" class="form-select">
                        <option selected disabled value="selected">Select Option</option>
                        <option value="priceLH">Price: Low to High ↑</option>
                        <option value="priceHL">Price: High to Low ↓</option>
                        <option value="new">New Arrivals 🌟</option>
                      </select>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel> -->

              <!-- Variants Filters -->
              <ngb-panel
                *ngFor="let variant of variants"
                [title]="variant.name"
              >
                <ng-template ngbPanelContent>
                  <div class="checkbox-container">
                    <div
                      *ngFor="let value of variant.productvariantvalues"
                      class="checkbox-item"
                    >
                      <input
                        type="checkbox"
                        [id]="value.value"
                        [name]="value.value"
                        [value]="value.value"
                        class="custom-checkbox"
                        [(ngModel)]="value.selected"
                        (change)="updateSelectedValues()"
                      />
                      <label [for]="value.value" class="checkbox-label">{{
                        value.value
                      }}</label>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Parameter Filters -->
              <ngb-panel
                *ngFor="let variant of parameter"
                [title]="variant.name"
              >
                <ng-template ngbPanelContent>
                  <div class="checkbox-container">
                    <div
                      *ngFor="let value of variant.parametervalues"
                      class="checkbox-item"
                    >
                      <input
                        type="checkbox"
                        [id]="value.value"
                        [name]="value.value"
                        [value]="value.value"
                        class="custom-checkbox"
                        [(ngModel)]="value.selected"
                        (change)="updateSelectedValues()"
                      />
                      <label [for]="value.value" class="checkbox-label">{{
                        value.value
                      }}</label>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Price Filter -->
              <ngb-panel *ngIf="pricefilter?.length > 0" title="Price">
                <ng-template ngbPanelContent>
                  <div
                    *ngFor="let variant of pricefilter"
                    class="checkbox-container mb-3"
                  >
                    <input
                      type="checkbox"
                      [id]="variant.price"
                      [name]="variant.price"
                      [value]="variant.price"
                      class="custom-checkbox"
                      [(ngModel)]="variant.selected"
                      (change)="updateSelectedValues()"
                    />
                    <label [for]="variant.price" class="checkbox-label">{{
                      variant.name
                    }}</label>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Discount Filter -->
              <ngb-panel *ngIf="discount?.length > 0" title="Discount">
                <ng-template ngbPanelContent>
                  <div
                    *ngFor="let variant of discount"
                    class="checkbox-container mb-3"
                  >
                    <input
                      type="checkbox"
                      [id]="variant.discount"
                      [name]="variant.discount"
                      [value]="variant.discount"
                      class="custom-checkbox"
                      [(ngModel)]="variant.selected"
                      (change)="updateSelectedValues()"
                    />
                    <label [for]="variant.discount" class="checkbox-label">{{
                      variant.name
                    }}</label>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Brands Filter -->
              <!-- <ngb-panel *ngFor="let variant of brands" [title]="variant.name">
                <ng-template ngbPanelContent>
                  <div class="checkbox-container">
                    <input type="checkbox" [id]="variant.bid" [name]="variant.bid" [value]="variant.bid"
                      class="custom-checkbox" [(ngModel)]="variant.selected" (change)="updateSelectedValues()" />
                    <label [for]="variant.bid" class="checkbox-label">{{
                      variant.name
                      }}</label>
                  </div>
                </ng-template>
              </ngb-panel> -->
            </ngb-accordion>
          </div>
        </div>
      </div>

      <!-- Products List -->
      <div class="col-md-9 category-products">
        <div class="row">
          <ng-container>
            <div class="row w-100 align-items-center">
              <div class="col-9">
                <h2 style="color: #870a51; position: relative; margin: 0;">
                  {{ subcategoryName }}
                  <span >(Showing {{ startItemIndex }} to {{ endItemIndex }} product{{ endItemIndex !== 1 ? "s" : "" }} of {{ totalItems }} products)</span >
                </h2>
              </div>
              
              <div class="col-3 text-end">
                <div class="d-flex justify-content-end">
                  <select 
                    class="form-select form-select-sm w-auto m-2" 
                    [(ngModel)]="defaultSortOption" 
                    (change)="onSortChange($event)"
                  >
                  <option value="" disabled>Sort By </option>
                    <option value="pop">Featured 💥</option>
                    <option value="priceLH">Price: Low to High ↑</option>
                    <option value="priceHL">Price: High to Low ↓</option>
                    <option value="new">New Arrivals 🌟</option>
                  </select>
                </div>
                  <img 
                    src="../../../assets/image/filter-icon.svg" 
                    class="img-fluid" 
                    width="20px" 
                    alt="Filter Icon"
                  />
                
              </div>
            </div>
           
            <div
              *ngFor="let item of listProduct"
              class="col-sm-12 col-xs-12 col-md-3 col-xl-3 product-list justify-content-center"
            >
              <div
                class="p-2 my-3 rounded-3 wishlist-icon"
                style="
                  box-shadow: transparent 0px 4px 12px;
                  cursor: pointer;
                  text-align: center;
                  height: 90%;
                  position: relative;
                "
              >
                <!-- Wishlist Icon -->
                <div
                  class="wishlist-icon"
                  [ngClass]="{
                    'in-wishlist': item.wishlist !== 0,
                    'not-in-wishlist': item.wishlist === 0
                  }"
                  (click)="toggleWishlist(item.uuid)"
                  title="Add to Wishlist"
                >
                  <mat-icon>{{
                    item.wishlist !== 0 ? "favorite" : "favorite_border"
                  }}</mat-icon>
                </div>
                <div class="card border-0">
                  <img
                    src="{{ item?.path }}"
                    alt="No Image"
                    class="w-50 rounded-3 m-auto"
                    (click)="getProduct(item.slug)"
                  />
                </div>
                <h4 style="color: #767676" class="py-2 m-0 truncate-text">
                  {{ item.name }}
                </h4>
                <span style="color: #ec0303; font-size: 15px" class="fw-bold">-{{ item.offer }}% off
                 
                </span>
                <h2 class="fw-bold" style="margin-bottom: 0px">
                  
                    <i class="fa-solid fa-indian-rupee-sign" style="font-size: 15px"></i>
                     {{ item.price }}
                
                  <span style="
                      color: rgb(87, 84, 84);
                      font-size: 12px;
                      text-decoration: line-through;
                    ">
                    <i class="fa-solid fa-indian-rupee-sign"></i>{{ item.mrp }}
                  </span>
                </h2>
                <p style="
                color: rgb(87, 84, 84);
                font-size: 12px;
                text-decoration: line-through;
              ">


                  MRP : {{ item.mrp }}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="container">
      <div class="row justify-content-end align-items-center">
        <div class="col-auto">
          <span>Page: {{ currentPage + 1 }}</span>
          <!-- Add 1 to display the current page correctly -->
        </div>
        <div class="col-auto">
          <mat-paginator
            #paginator
            [length]="count"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizes"
            aria-label="Select page"
            (page)="handlePageChange($event)"
            class="custom-paginator"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <app-overlay></app-overlay>
  <app-footer></app-footer>
</ng-container>

<ng-template #noItems>
  <p class="no-items">
    <img
      src="../../../assets/image/no-items-found.png"
      class="img-fluid nofound-img"
      alt=""
    />
  </p>
  <div
    class="container"
    *ngIf="eventData"
    style="margin-top: 40px; padding: 0; margin-bottom: 10px"
  >
    <div class="col-md-4 categories-mobile">
      <div class="d-flex justify-content-end fixed-filters-button">
        <button
          (click)="toggleFilters()"
          mat-raised-button
          style="background-color: #870a51; color: #ffffff"
        >
          <img
            src="../../../assets/image/filter-icon.svg"
            class="img-fluid"
            width="20px"
            style="color: #ffffff"
            alt=""
          />
        </button>
      </div>
      <!-- Demo Accordian -->
      <div *ngIf="isFilterApplied()">
        <button
          class="btn btn-sm text-white mx-2 mb-4 clear-btn"
          (click)="clearFilter()"
        >
          Clear <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div *ngIf="showFilters" class="showFilters">
        <ngb-accordion
          #acc="ngbAccordion"
          id="filtersAccordion"
          [activeIds]="['ngb-panel-0']"
        >
          <!-- Variants Filter -->
          <ngb-panel *ngFor="let variant of variants" [title]="variant.name">
            <ng-template ngbPanelContent>
              <div class="checkbox-container">
                <div
                  *ngFor="let value of variant.productvariantvalues"
                  class="checkbox-item"
                >
                  <input
                    type="checkbox"
                    [id]="value.value"
                    [name]="value.value"
                    [value]="value.value"
                    class="custom-checkbox"
                    [(ngModel)]="value.selected"
                    (change)="updateSelectedValues()"
                  />
                  <label [for]="value.value" class="checkbox-label">{{
                    value.value
                  }}</label>
                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Parameter Filter -->
          <ngb-panel *ngFor="let variant of parameter" [title]="variant.name">
            <ng-template ngbPanelContent>
              <div class="checkbox-container">
                <div
                  *ngFor="let value of variant.parametervalues"
                  class="checkbox-item"
                >
                  <input
                    type="checkbox"
                    [id]="value.value"
                    [name]="value.value"
                    [value]="value.value"
                    class="custom-checkbox"
                    [(ngModel)]="value.selected"
                    (change)="updateSelectedValues()"
                  />
                  <label [for]="value.value" class="checkbox-label">{{
                    value.value
                  }}</label>
                </div>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Price Filter -->
          <ngb-panel *ngIf="pricefilter?.length > 0" title="Price">
            <ng-template ngbPanelContent>
              <div
                *ngFor="let variant of pricefilter"
                class="checkbox-container mb-3"
              >
                <input
                  type="checkbox"
                  [id]="variant.price"
                  [name]="variant.price"
                  [value]="variant.price"
                  class="custom-checkbox"
                  [(ngModel)]="variant.selected"
                  (change)="updateSelectedValues()"
                />
                <label [for]="variant.price" class="checkbox-label">{{
                  variant.name
                }}</label>
              </div>
            </ng-template>
          </ngb-panel>

          <!-- Discount Filter -->
          <ngb-panel *ngIf="discount?.length > 0" title="Discount">
            <ng-template ngbPanelContent>
              <div
                *ngFor="let variant of discount"
                class="checkbox-container mb-3"
              >
                <input
                  type="checkbox"
                  [id]="variant.discount"
                  [name]="variant.discount"
                  [value]="variant.discount"
                  class="custom-checkbox"
                  [(ngModel)]="variant.selected"
                  (change)="updateSelectedValues()"
                />
                <label [for]="variant.discount" class="checkbox-label">{{
                  variant.name
                }}</label>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
    <br />
    <div
      class="container"
      *ngIf="eventData"
      style="margin-top: 40px; padding: 0; margin-bottom: 200px"
    >
      <div class="col-md-3 categories">
        <div class="accordion" id="filtersAccordion">
          <div class="d-flex">
            <h3>Filters <i class="fa-solid fa-filter"></i></h3>
            <div *ngIf="isFilterApplied()">
              <button
                class="btn btn-sm text-white mx- clear-btn"
                (click)="clearFilter()"
              >
                Clear <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
          <!-- Demo Accordian -->
          <div class="showFilters">
            <ngb-accordion id="filtersAccordion" [activeIds]="['ngb-panel-0']">
              <!-- Variants Filter -->
              <ngb-panel
                *ngFor="let variant of variants"
                [title]="variant.name"
              >
                <ng-template ngbPanelContent>
                  <div class="checkbox-container">
                    <div
                      *ngFor="let value of variant.productvariantvalues"
                      class="checkbox-item"
                    >
                      <input
                        type="checkbox"
                        [id]="value.value"
                        [name]="value.value"
                        [value]="value.value"
                        class="custom-checkbox"
                        [(ngModel)]="value.selected"
                        (change)="updateSelectedValues()"
                      />
                      <label [for]="value.value" class="checkbox-label">{{
                        value.value
                      }}</label>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Parameter Filter -->
              <ngb-panel
                *ngFor="let variant of parameter"
                [title]="variant.name"
              >
                <ng-template ngbPanelContent>
                  <div class="checkbox-container">
                    <div
                      *ngFor="let value of variant.parametervalues"
                      class="checkbox-item"
                    >
                      <input
                        type="checkbox"
                        [id]="value.value"
                        [name]="value.value"
                        [value]="value.value"
                        class="custom-checkbox"
                        [(ngModel)]="value.selected"
                        (change)="updateSelectedValues()"
                      />
                      <label [for]="value.value" class="checkbox-label">{{
                        value.value
                      }}</label>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Price Filter -->
              <ngb-panel *ngIf="pricefilter?.length > 0" title="Price">
                <ng-template ngbPanelContent>
                  <div
                    *ngFor="let variant of pricefilter"
                    class="checkbox-container mb-3"
                  >
                    <input
                      type="checkbox"
                      [id]="variant.price"
                      [name]="variant.price"
                      [value]="variant.price"
                      class="custom-checkbox"
                      [(ngModel)]="variant.selected"
                      (change)="updateSelectedValues()"
                    />
                    <label [for]="variant.price" class="checkbox-label">{{
                      variant.name
                    }}</label>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Discount Filter -->
              <ngb-panel *ngIf="discount?.length > 0" title="Discount">
                <ng-template ngbPanelContent>
                  <div
                    *ngFor="let variant of discount"
                    class="checkbox-container mb-3"
                  >
                    <input
                      type="checkbox"
                      [id]="variant.discount"
                      [name]="variant.discount"
                      [value]="variant.discount"
                      class="custom-checkbox"
                      [(ngModel)]="variant.selected"
                      (change)="updateSelectedValues()"
                    />
                    <label [for]="variant.discount" class="checkbox-label">{{
                      variant.name
                    }}</label>
                  </div>
                </ng-template>
              </ngb-panel>

              <!-- Brands Filter -->
              <!-- <ngb-panel *ngFor="let variant of brands" [title]="variant.name">
              <ng-template ngbPanelContent>
                <div class="checkbox-container">
                  <input type="checkbox" [id]="variant.bid" [name]="variant.bid" [value]="variant.bid"
                    class="custom-checkbox" [(ngModel)]="variant.selected" (change)="updateSelectedValues()" />
                  <label [for]="variant.bid" class="checkbox-label">{{
                    variant.name
                    }}</label>
                </div>
              </ng-template>
            </ngb-panel> -->
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-overlay></app-overlay>
  <app-footer
    [ngClass]="{
      noitemsfooter: listProduct?.length === 0 && filterClicked == false
    }"
  ></app-footer>
</ng-template>
