.image-container {}

.dialog-content {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    align-content: center;
}

@media (max-width:768px) {
    .dialog-content {
        background-image: url('../../../assets/image/videocall5.jpg');
        background-size: cover;
        background-position: top;
        height: 100%;
    }

    h3 {
        font-size: 18px;
    }

    .language {
        font-size: 12px;
    }

    .popup-box {
        width: 60%;
        margin: auto;
    }
}

@media (min-width:769px) {
    .dialog-content {
        background-image: url('../../../assets/image/videocall1.webp');
        background-size: cover;
        background-position: top;
        height: 100%;
    }

    h3 {
        font-size: 22px;
    }

    .language {
        font-size: 16px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .formDiv {
        width: 60%;
        margin: auto;
    }
}

@media (min-width:1025px) and (max-width:1440px) {
    .formDiv {
        width: 40%;
        margin: auto;
    }
}

@media (min-width:1441px) {
    .formDiv {
        width: 40%;
        margin: auto;
    }
}

.centered-content {
    padding: 15px 0px;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: white;
    /* Optional: change text color */
    /* text-align: center; */
    /* Additional styling as needed */
    width: 90%;
    margin: auto;
}

.h3 {
    margin: 0;
    /* font-size: 28px; */
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.language {
    padding: 15px 0px;
    font-weight: bold;
    text-align: center;
}

.custom-dropdown {
    max-height: 200px;
    /* Set the max height of the dropdown */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.countryBtn {
    background-color: #5E0738;
}

.label {
    width: 100%;
    text-align: start;
}

/* .inputField {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
} */

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #7bd5ea;
    /* border: 1px solid #ccc; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* width: 65%; */
    z-index: 2;
    border-radius: 5px;
}

.availabel {
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
}

.notAvailable {
    color: black;
    font-weight: 500;
}

.callNow {
    background-color: #5E0738;
    color: white;
    margin: 15px 0px;
}

/* .callNow:hover {
    background-color: #0d6efd;
    color: white;
} */

@media(min-width:1440px) {
    .vdoImg {
        width: 100%;
    }
}

.custom-dialog-container {
    overflow: hidden !important;
}