<app-header></app-header>

<div class="blog-detail">
  <div style="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
          <div class="blog-detail-content py-5">
            <h1 style="font-size: 30px">Privacy Policy for Mugdha</h1>
            <p>
              We recognize the importance of maintaining your privacy. We value
              your privacy and appreciate your trust in usWe at Mugdha ("Mugdha"
              "we," "us," or "our") know that our users ("you," "your," or
              "yourself") care about how your personal information is used and
              shared, and we take your privacy seriously.
            </p>
            <h2 style="font-size: 24px">
              Please read the following to learn more about our Privacy Policy.
            </h2>
            <p>
              By visiting or using the www.mugdha.co website and domain name,
              other linked pages, features, content, and any other services that
              we offer in connection with any of the foregoing (collectively,
              the "Website"), that
            </p>
            <p>
              you agree to the practices and policies outlined in this Privacy
              Policy, therefore you hereby do acknowledge and consent to our
              collection, use, and sharing of your information as described in
              this Privacy Policy.
            </p>
            <h2 style="font-size: 24px">By using this Site:</h2>
            <p>
              you signify your acceptance of this policy and terms of service.
              What Does Privacy Policy Cover?
            </p>
            <p>
              This Privacy Policy covers our treatment of personally
              identifiable information ("Personal Information") that we gather
              when you are accessing or using our Website.
            </p>
            <p>
              This policy does not apply to the practices of companies that we
              do not own or control, or to individuals that we do not employ or
              manage, even if you have accessed the websites or services of
              those companies through our Website.
            </p>
            <p>
              We hereby declare that we do not knowingly collect or solicit
              personal information from anyone under the age of 13 or knowingly
              allow such persons to register for the Services (as that term is
              defined in our Terms of Use).
            </p>

            <h2 style="font-size: 24px">
              What Information Does Mugdha Collect?
            </h2>
            <p>
              We gather various types of Personal Information from our users,
              recognizing your right to confidentiality and we are committed to
              protecting your privacy. We may use this Personal Information to,
              among other things,
            </p>
            <p>
              personalize and improve our services, allow our users to set up a
              user account and profile, contact users,fulfill your requests for
              certain products and services, analyze how users utilize the
              Website, or as otherwise outlined in this Privacy Policy.
            </p>
            <p>
              When navigating our website, personal information about you is not
              collected automatically or without your knowledge. We may share
              certain types of Personal Information with third parties.
            </p>

            <h2 style="font-size: 24px">Types of Information We Gather:</h2>
            <p>
              Information You Provide to Us- We receive and store any
              information you knowingly provide to Mugdha. Forinstance, we
              collect
            </p>
            <p>
              Personal Information such as your name, username, phone number,
              credit card, and other billing information, email address,
              shipping address, and your friends’ email addresses (which we will
              only use to invite them to use our Service), and your third-party
              account credentials (for example, your log-in credentials for
              Facebook, etc).
            </p>
            <p>
              We may also collect the information you supply to us regarding
              your personal preferences and interests. If you access the Service
              through Facebook Connect, you understand that some content and/or
              information in your Facebook account (“Third Party Account
              Information”) may be transmitted into your account with us if you
              authorize such transmissions
            </p>
            <p>
              And that Third Party Account Information transmitted to our
              Services is covered by this Privacy Policy. You can choose not to
              provide us with any or all of the information we specify or
              request.
            </p>

            <h2 style="font-size: 24px">
              Information collected automatically:
            </h2>
            <p>
              We automatically receive and record the information on our server
              logs when you interact with our website from your browser
              including your IP address, “cookie” information, or the page you
              requested. “Cookies” are the identifiers that we transfer to your
              computer or device to allow us to recognize your browser or device
              and tell us how and when pages in our Website are visited and by
              how many people.
            </p>
            <p>
              We assure your anonymity when we collect usage information such as
              the numbers and frequency of visitors and we only use such data in
              aggregate form. And provide this aggregate usage information to
              our partners; our partners may use such information to understand
              how often and in what ways users use our Website so that our
              partners have the endeavor to provide you with an optimal online
              experience.
            </p>
            <p>
              Other Communication Information- Mugdha may contact you, by email
              or other means. Such as we may send you emails regarding their
              upcoming launch and other news or communicate with you about your
              use of the Website. Additionally, we may receive a confirmation
              when you open an email from us. If you do not want to receive
              those emails or any other mail from us, you can change your
              account settings accordingly.
            </p>

            <h2 style="font-size: 24px">User Profiles and Content</h2>
            <p>
              Certain user profile information and image content that such a
              user has uploaded to the website may be displayed to other users
              to facilitate user interaction within the Website or address your
              request for our services.
            </p>
            <p>
              Your username may also be displayed to other users if and when you
              post comments or upload images through the Website and other users
              can contact you through such comments. Again, we do not control
              the policies and practices of any other third-party site or
              service.
            </p>
            <p>
              What Personal Information Can You Access? Through your account
              settings, you may access, and, in some cases, edit or delete the
              following information
            </p>

            <h2 style="font-size: 24px">You’ve provided to us:</h2>
            <p>
              Name and Password Email address shipping and billing information.
              User profile information and User Content, including images you
              have uploaded to the site The updates may change the Website which
              leads to changes in the information that you can view and access.
            </p>

            <h2 style="font-size: 24px">Your Choices and Rights</h2>
            <p>
              You can always choose not to disclose information to us. However,
              please keep in mind that we may need some information to allow you
              to register with us. You may be able to add, update, or delete the
              information as per your need and you may request deletion of your
              account by visiting your account settings.
            </p>
            <p>
              We may use any aggregated data from your Personal Information even
              if you update or delete it, but we will not use that information
              in a manner that would identify you personally. Lastly, if you do
              not wish to receive email or other mail from us, please change
              your account settings accordingly.
            </p>
            <p>
              Security We adopt appropriate data collection, storage, and
              processing practices and security measures to protect against
              unauthorized access, alteration, disclosure, or destruction of
              your personal information, username, password,transaction
              information, and data stored on our Site.
            </p>
            <p>
              Sensitive and private data exchange between the Site and its Users
              (credit and debit card information) happens over a secured
              communication channel and is encrypted and protected with digital
              signatures. If you believe that any information we are holding on
              you is incorrect or incomplete, please call us at +918142029190 or
              write to us at hello@mugdha.co. We will look through and rectify
              the error immediately.
            </p>

            <h2 style="font-size: 24px">Changes to This Privacy Policy</h2>
            <p>
              We may amend this Privacy Policy with time to improve our site.
              The use of the information we collect now is subject to the
              Privacy Policy in effect at the time such information is used.
            </p>
            <p>
              If we make changes in the way we use Personal Information, we will
              notify you by posting an announcement on our Website or contacting
              you directly via email and other means. You acknowledge and agree
              that it is your responsibility to review this privacy policy
              periodically and become aware of modifications.
            </p>

            <h2 style="font-size:24px">Cookies</h2>
            <p>
              Our Site may use "cookies" to enhance the User experience. User's
              web browser places cookies on their hard drive for record-keeping
              purposes and sometimes to track information about them. No
              personal information is collected or shared and users may choose
              to set their web browser to refuse cookies or to alert you when
              cookies are being sent. If they do so, note that some parts of the
              Site may not function properly.
            </p>

            <h2 style="font-size: 24px">Contact Us</h2>
            <p>
              We will not sell, distribute or lease your personal information to
              third parties unless we have your permission or are required by
              law to do so. If you have any questions about this Privacy Policy,
              the practices of this site, or your dealings with this site,
              please contact us at +918142029190 or write to us at
              hello@mugdha.co.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile Privacy Policy -->
<!-- <div class="blog-detail">
      <div class="blog-detail-wrapper" style="padding: 0 !important">
        <div class="container" style="width: 80%; margin: auto">
          <h1
            class="fw-bold text-center py-3"
            style="
              color: red;
              font-weight: bold;
              text-align: center;
              padding-top: 20px;
              padding-bottom: 20px;
            "
          >
            Privacy Policy
          </h1>
          <h3>
            <p
              class="pb-0 mb-0"
              style="padding-bottom: 0px; margin-bottom: 0px"
            >
              <span class="fw-bold" style="font-size: 18px; font-weight: bold"
                >Mugdha Ecommerce LLP </span
              >(“us”, “we”, or “our”) operates the
            </p>
            <p>
              <span class="fw-bold" style="font-size: 18px; font-weight: bold"
                >Mugdha Ecommerce LLP</span
              >
              website (the “Service”).
            </p>
          </h3>
          <p>
            This page informs you of our policies regarding the collection, use
            and disclosure of Personal Information when you use our Service.
          </p>
          <p>
            We will not use or share your information with anyone except as
            described in this Privacy Policy.
          </p>
          <p>
            We use your Personal Information for providing and improving the
            Service. By using the Service, you agree to the collection and use
            of information in accordance with this policy.
          </p>
          <p>
            Unless otherwise defined in this Privacy Policy, terms used in this
            Privacy Policy have the same meanings as in our Terms and
            Conditions, accessible at
            <a href="https://www.mugdha.co/">https://www.mugdha.co/</a>
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Information Collection And Use
          </h2>
          <p>
            While using our Service, we may ask you to provide us with certain
            personally identifiable information that can be used to contact or
            identify you. Personally identifiable information (“Personal
            Information”) may include, but is not limited to:
          </p>
          <ul>
            <li>Name</li>
            <li>Email address</li>
            <li>Telephone number</li>
          </ul>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Log Data
          </h2>
          <p>
            We collect information that your browser sends whenever you visit
            our Service (“Log Data”). This Log Data may include information such
            as your computer’s Internet Protocol (“IP”) address, browser type,
            browser version, the pages of our Service that you visit, the time
            and date of your visit, the time spent on those pages and other
            statistics.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Cookies
          </h2>
          <p>
            Cookies are files with small amount of data, which may include an
            anonymous unique identifier. Cookies are sent to your browser from a
            web site and stored on your computer’s hard drive.
          </p>
          <p>
            We use “cookies” to collect information. You can instruct your
            browser to refuse all cookies or to indicate when a cookie is being
            sent. However, if you do not accept cookies, you may not be able to
            use some portions of our Service.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Service Providers
          </h2>
          <p>
            We may employ third party companies and individuals to facilitate
            our Service, to provide the Service on our behalf, to perform
            Service-related services or to assist us in analyzing how our
            Service is used.
          </p>
          <p>
            These third parties have access to your Personal Information only to
            perform these tasks on our behalf and are obligated not to disclose
            or use it for any other purpose.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Security
          </h2>
          <p>
            The security of your Personal Information is important to us, but
            remember that no method of transmission over the Internet, or method
            of electronic storage is 100% secure.
          </p>
          <p>
            While we strive to use commercially acceptable means to protect your
            Personal Information, we cannot guarantee its absolute security.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Links To Other Sites
          </h2>
          <p>
            Our Service may contain links to other sites that are not operated
            by us. If you click on a third party link, you will be directed to
            that third party’s site. We strongly advise you to review the
            Privacy Policy of every site you visit.
          </p>
          <p>
            We have no control over, and assume no responsibility for the
            content, privacy policies or practices of any third party sites or
            services.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Children’s Privacy
          </h2>
          <p>
            Our Service does not address anyone under the age of 18
            (“Children”).
          </p>
          <p>
            We do not knowingly collect personally identifiable information from
            children under 18. If you are a parent or guardian and you are aware
            that your child has provided us with Personal Information, please
            contact us.
          </p>
          <p>
            If we discover that a child under 18 has provided us with Personal
            Information, we will delete such information from our servers
            immediately.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Compliance With Laws
          </h2>
          <p>
            We will disclose your Personal Information where required to do so
            by law or subpoena.
          </p>

          <h2>Changes To This Privacy Policy</h2>
          <p>
            We may update our Privacy Policy from time to time. We will notify
            you of any changes by posting the new Privacy Policy on this page.
          </p>
          <p>
            You are advised to review this Privacy Policy periodically for any
            changes. Changes to this Privacy Policy are effective when they are
            posted on this page.
          </p>

          <h2 class="fw-bold" style="font-size: 24px; font-weight: bold">
            Contact Us
          </h2>
          <p>
            If you have any questions about this Privacy Policy, please contact
            us.
          </p>

          <h3 class="fw-bold" style="font-weight: bold">
            Team – Mugdha Ecommerce LLP
          </h3>
        </div>
      </div>
    </div> -->
    //<app-overlay></app-overlay>
    <app-footer></app-footer>
